@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Hubballi:wght@100&display=swap');



html {
    scroll-behavior: smooth;
}

body {
    background-color: #a68572;
    font-family: Hubbali;
}

/* header and menu styled for all pages*/
#logo {
    text-transform: uppercase;
    font-size: 300%;
}

#menu,
#logo {
    line-height: 5px;
}

#logo {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 280%;
    text-transform: uppercase;
}


#menu {
    margin-top: 30px;
    font-size: 150%;
    text-transform: uppercase;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: whitesmoke;
}

/* background image main page*/

#stress-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#stress-image {
    background-image: url('../images/therapy1.jpeg');
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
}

/* introduction text styled with different color backgrounds*/
#info-box1,
#info-box2 {
    font-size: 150%;
    text-align: center;
}

#info-box1 {
    height: 200px;
    background: #bba79c;
    padding: 50px;
    padding-top: 15px;
}

#info-box2 {
    background-color: #a68572;
    height: 125px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
}

#info-box2 a {
    color: inherit;
    font-size: 80%;
}

/* map on top of footer*/
#map-wrapper {
    height: 300px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/*gallery page with 6 pictures*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* treatment page with 3 different sections for 3 treatments displayed inline in discs*/
#treatment-image {
    background-image: url('../images/therapy11.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
}

#treatment-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#treat {
    background: #bba79c;
    text-align: center;
    padding: 50px;
    padding-top: 15px;
}

#treat h3 {
    font-size: 280%;
}

#treat h4 {
    font-size: 180%;
    text-align: center;
}

#treat li {
    font-size: 150%;
    list-style: none;
}

#treat div {
    margin-inline: 40px;
    margin-top: -20px;
}


.tr-box {
    display: inline-block;
}

#basic-box {
    width: 250px;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 25px;
    color: white;
    background-color: #a68572;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
}

#plus-box {
    width: 300px;
    text-align: center;
    height: 300px;
    padding: 25px;
    color: white;
    background-color: #a68572;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
}

#advance-box {
    width: 300px;
    text-align: center;
    height: 300px;
    padding: 25px;
    color: white;
    background-color: #a68572;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
}

/* contact page */

#contact-image {
    background-image: url('../images/therapy13.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
}

#contact-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-box {
    background: #bba79c;
    text-align: center;
    font-size: 180%;
    padding: 50px;
    padding-top: 15px;
}

/*form to sign up */
.formpic {
    background-size: cover;
    width: 100%;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    font-size: 180%;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #66958c;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    display: block;
}

.join-button:hover {
    background-color: #bba79c;
    color: #66958c;
}

/* footer designed for each page */

footer {
    background: #66958c;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0%;
    bottom: 0;
    right: 0;
    z-index: 3;
}

footer>span {
    font-size: 160%;
    text-transform: uppercase;
    display: list-item;
    list-style: none;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    text-align: center;

}

.social-networks i {
    font-size: 160%;
    color: black;
    padding: 9px;
    align-items: center;
}

.social-networks span {
    text-align: center;
}

/* 404 page not found */

#error {
    float: none;
}

#error h1 {
    text-transform: capitalize;
    font-size: 400%;
}

#error a {
    font-size: 400%;
}

@media (max-width: 1095px)

/*index page*/
    {

    #menu,
    #logo {
        line-height: 30px;
    }

    #menu li {
        display: list-item;
    }

    #info-box2,
    #info-box1 {
        font-size: 145%;
        padding-top: 2px;

    }

    #info-box2 {
        height: 160px
    }
}

/*changing the style for different devices*/
@media (max-width: 885px) {

    #info-box2,
    #info-box1 {
        height: 250px;
    }

    #logo {
        padding-top: 2px;
    }

    #menu {
        padding-top: 15px;
    }

    #menu li,
    #logo {
        display: list-item;
        list-style: none;
        float: none;
    }

    #stress-image {
        height: 400px;

    }

    #stress-outer {
        height: 400px;
    }

    /*contact*/

    #contact-image {
        height: 400px;
    }

    #contact-outer {
        height: 400px;
    }
}

@media (max-width: 660px) {

    #info-box2,
    #info-box1 {
        height: 400px;
    }

    img.formpic {
        display: none;
    }
}

@media (max-width: 445px) {

    #info-box2,
    #info-box1 {
        height: 350px;
        font-size: 120%;
    }

    #logo {
        font-size: 200%;
    }

    #footer {
        font-size: 80%;
    }

    #stress-image {
        height: 200px;

    }

    #stress-outer {
        height: 200px;
    }

    /*contact*/

    #contact-image {
        height: 200px;
    }

    #contact-outer {
        height: 200px;
    }

    /* treatment */



    .tr-box {
        font-size: 80%;
    }

    #advance-box,
    #basic-box,
    #plus-box {
        height: 150px;
        width: 150px;
    }

    #treat div {
        margin-inline: 0px;
        margin-top: 0px;
        font-size: 50%;
        text-align: center;
    }

    #treat li {
        text-align: left;
    }

    img.formpic {
        display: none;
    }

    #footer {
        font-size: 75%;
    }


}


/* for devices such as iphone 5*/
@media (max-width: 320px) {

    #info-box2,
    #info-box1 {
        height: 500px;
        font-size: 120%;
    }

    #logo {
        font-size: 200%;
    }

    #footer {
        font-size: 80%;
    }


    /* treatment */
    #treat {
        display: inline-table;
        padding: 0;
    }


    .tr-box {
        font-size: 60%;
    }

    #advance-box,
    #basic-box,
    #plus-box {
        height: 150px;
        width: 150px;

    }

    #treat div {
        margin-inline: 0px;
        margin-top: 0px;
        font-size: 50%;
        text-align: center;
    }

    #treat li {
        text-align: left;
    }

    img.formpic {
        display: none;
    }


    #footer {
        font-size: 75%;
    }

}