@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Hubballi:wght@100&display=swap');

body {
    background-color: #a68572;
}

/* home page */
#logo {
    text-transform: uppercase;
    font-size: 300%;
}

#menu,
#logo {
    line-height: 5px;
}

#logo {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 280%;
    text-transform: uppercase;

}


#menu {
    margin-top: 30px;
    font-size: 125%;
    text-transform: uppercase;


}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: whitesmoke;
}

#stress-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#stress-image {
    background-image: url('..//therapy1.jpeg');
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
}

/* about page */

#about-image {
    background-image: url('..//therapy5.webp');
    padding: 200px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;


}

#about-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.about-box {
    background: #bba79c;
    text-align: center;
    padding: 50px;
    padding-top: 15px;

}

.about-box h3 {
    font-size: 280%;
}

.about-box p {
    font-size: 150%;
}

/* treatment page*/
#treatment-image {
    background-image: url('..//therapy11.jpeg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;


}

#treatment-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


footer {
    background-color: #6f4e37;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
}

/* footer */

footer {
    background: #66958c;
}

footer>span {
    font-size: 170%;
    display: list-item;
    list-style: none;
    text-align: center;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    text-align: center;

}

.social-networks i {
    font-size: 160%;
    color: black;
    padding: 9px;
    align-items: center;
}

.social-networks span {
    text-align: center;
}